body > table:nth-child(5) > tbody > tr > td:nth-child(1) {
    font-size:18px
}

body > table:nth-child(5) > tbody > tr > td:nth-child(4){
    font-size:16px;

}

body > table:nth-child(4) > tbody {
    font-size:16px
}

.liumenu {
    font-size: 20px;
}

body > table:nth-child(5) > tbody > tr > td:nth-child(1) > table > tbody > tr:nth-child(4) {
    font-size: 23px;
}