.number-value {
    color:black;
}

.th-level {
    color:orange;
}

.grade {
    padding-right: 6px;
    display: inline-block;
    width: 4px;
    margin-right: 14px;
}

.results-table {
    width: 90%;
}

.tooltip-inner {
    white-space:pre-wrap;
}

.modal-body{
    text-align: left;
}

.btn-extra-lg {
    font-size:30px !important;
}


.custom-icon {
    background: radial-gradient(#3333DD, #4444FF) !important;
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    font-size:22px;
    display:inline-block;
    margin-left: 5px;
    height: 25px;
    width: 25px;
    border-radius:100%;
    text-align: center;
    color: #fafafa !important;
    box-shadow: 0px 1px 2px #8887B6

}

#report-info-btn{
    font-style: italic;
    font-weight: bold;
    font-family: serif;
}

.smaller-icon {
    margin-left: 4px;
    height: 15px;
    width: 15px;
    border-radius:15px;
    font-size: 14px;

}

.level-header{
    white-space: nowrap !important;
}