.number-value {
    color:black;
}

.th-level {
    color:orange;
}

.grade {
    padding-right: 6px;
    display: inline-block;
    width: 4px;
    margin-right: 5px;
}

.results-table {
    width: 90%;
}

.tooltip-inner {
    white-space:pre-wrap;
}

.modal-body{
    text-align: left;
}