.number-value {
    color:black;
}



.grade {
    padding-right: 6px;
    display: inline-block;
    width: 4px;
    margin-right: 14px;
}

.results-table {
    width: 90%;
}

.tooltip-inner {
    white-space:pre-wrap;
}

.modal-body{
    text-align: left;
}

.btn-extra-lg {
    font-size:30px !important;
}


.custom-icon {
    background: radial-gradient(#3333DD, #4444FF) !important;
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    font-size:22px;
    display:inline-block;
    margin-left: 5px;
    height: 25px;
    width: 25px;
    border-radius:100%;
    text-align: center;
    color: #fafafa !important;
    box-shadow: 0px 1px 2px #8887B6

}

#report-info-btn{
    font-style: italic;
    font-weight: bold;
    font-family: serif;
}

.smaller-icon {
    margin-left: 4px;
    height: 15px;
    width: 15px;
    border-radius:15px;
    font-size: 14px;

}

.level-header{
    white-space: nowrap !important;
}

.plus{
    background-color:rgba(0,170,0,0.3);
    font-weight: bold;
    border: 1px;
    border-radius: 10%;
    color: #111;
}

.minus{
    background-color:rgba(250,0,0,0.4);
    font-weight: bold;
    width: 20px;
    margin-left: 3px;
    border: 1px;
    border-radius: 10%;
    color: #111;
}

.course-levels{
    border-radius: 5%;
    /*background-color: rgb(112, 161, 183);*/
    /*border-color: black;*/
    /*color: white;*/
}

.selected { background-color: #fcffe4; outline: thin solid black;}
.course-row:hover {
    background-color:#F5F5F5;
}

#calculate-btn{
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
}

.table {
    max-width: 900px;
    word-wrap: break-word;
}
